@import "~bootstrap/scss/bootstrap";


.login{
    background-color: #B0AFB1 !important;
    height: 100vh !important;
    padding-top: 15vh;
    text-align: center;

    .card{
        max-width: 500px;
        margin: 0 auto !important;
        border-radius: 20px !important;

        .card-title{
            font-size: 27px !important;
        }

        .dynamic-spacing{
            margin: 10px 30px !important;
            padding: 10px 30px !important;

            @media screen and (max-width:600px){
                margin: auto !important;
                padding: auto !important;
            }
        }
    }

}

.form-control{
    &:focus{
        // border: #191F6C !important;
        // box-shadow: 0 0 0 2px #191f6ccf;
    }

}

.btn-primary{
    background-color: #191F6C !important;
}

.navbar{
    background-color: #B0AFB1;
    box-shadow: 0 4px 2px -2px rgb(188, 186, 186);
}

.logout-btn{
    color: #191F6C;
    cursor: pointer;
    font-weight: 700;
}

.add-btn{
    width: 100px;
}

.MuiToolbar-regular{
 min-height: 0 !important;
}

.MuiPaper-rounded{
    border-radius: 20px !important;
}

.MuiTableHead-root{
    th{
        font-weight: 700 !important;
        .MuiTableCell-root{
            border: 2px solid black !important;
        }
    } 
}

.MuiTableCell-root{
    padding: auto !important;
    // height: 30px !important;
}
  
.MuiTableRow-root{
    td{
        font-size: 14px !important;

        .MuiIconButton-root{
            // padding: 5px !important;
            border-radius: 0 !important;
            .MuiIcon-root{
                font-size: 15px !important;
            }
            
        }
    }
}

.MuiTable-root{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.MTableHeader-header-13{
    z-index: unset !important;
}